html, body {
  width: 100%;
}

#root {
  padding: 1rem;
  margin: auto;
}

.warning {
  color: red;
  background: #ffdede;
}

.hidden {
  visibility: hidden;
}

.warning, 
.no-warning {
  padding: 2px 6px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.mr-2 {
  margin-right: 2rem; 
}

.larger-text {
  font-size: 2rem;
}

.float-right {
  float: right;
}

@media screen and (min-width: 500px) {
  #root {
    width: 400px;
  }
}